/* .text,
.text-2,
.text-3,
.text-4{
  background-color:steelblue;
}

div .title2{
  background-color: teal;
}

.text-2 + .title2{
  background-color: tomato;
}

.text-2 ~ p{
  background-color: teal;
} */

.text-2 ~ .text{
  background-color: teal;
}

.container > p{
  background-color: tomato;
}

/* Selectores pseudo clase */

a:link{
  color: pink;  
}
a:visited{
  color: green;
}
a:hover{
  text-decoration: none;
}
