body{
  background-color: #333;
  color: #fff;
}

.title{
  background-color: lightcoral;
  width: 300px;
  margin-right: auto;margin-left: auto;
}

.block{
  background-color: purple;
  width: 200px;
  height: 200px;
  margin-right: auto;margin-left: auto;
}

.inline{
  background-color: lightseagreen;
  color: inherit;  margin-right: 100px;
  margin-left: 100px;
}